

@media screen and (max-width: 480px){
    .topright {
        display: none;
    }
    header .flex {
        flex-direction: column;
        margin: 5px;
    }
    .navbar{
        height: auto;
        flex-direction: column;
        padding: 10px;

    }

    .navbar li{
        margin: 5px;
    }
    .flex {
        justify-content: center;
    
    }
    .dumbellimg{
        width: 200px;
    }
    .text-center {
        flex-wrap: wrap;
        font-size: large;
    }
    .deal{
        font-size: 1.2rem;
        font-weight: bolder;
        margin-top: 5px;
   
    }
    #demo {
        margin-top: 10px;
    }
    .boxes {
        display: flex;
        flex-direction: column;
    }
    .box{
        padding: 8px 0;
        margin: 12px auto;
        min-width: 50vw;
        border: 2px solid rgb(120, 54, 16);
        border-radius: 8px;
        text-align: center;
    }
    .box ul li{
        font-size: large;
     }
     .section3 table th{ 
        width: 20vw; 
        border-bottom: 2px solid black;
        padding: 10px;
    } 

    .section2{
        
        margin-top: 100px;
    }
    .section3 table{
       
        margin-bottom: 80px;
       
       
    }

}

@media screen and (min-width: 481px) and (max-width: 760px) {
    .topright {
        display: none;
    }
    header .flex {
        flex-direction: column;
        margin: 5px;
    }
    .navbar{
        height: auto;
        flex-direction: column;
        padding: 10px;
    }
    .navbar li{
        margin: 5px;
    }
    .flex {
        justify-content: center;
    }
    .dumbellimg{
        width: 200px;
    }
    .text-center {
        flex-wrap: wrap;
        font-size: large;
    }
    .deal{
        font-size: 1.2rem;
        font-weight: bolder;
        margin-top: 5px;

    }
    #demo {
        margin-top: 10px;
    }
    .boxes {
        display: flex;
        flex-direction: column;
    }
    .box{
        padding: 8px 0;
        margin: 12px auto;
        min-width: 50vw;
        border: 2px solid rgb(120, 54, 16);
        border-radius: 8px;
        text-align: center;
    }
    .box ul li{
        font-size: large;
     }
     .section3 table th{ 
        width: 20vw; 
        border-bottom: 2px solid black;
        padding: 10px;
    } 
    .section2{
        margin-top: 350px;
    }
    .section3 table{
        margin-bottom: 80px;
    }

    .topleft{
        width: 40%;
    }

}


